/* Basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* About section container */
.about-container {
  margin: auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.about-header div:first-child {
  font-size: 32px;
  font-weight: bold;
  color: #2c3e50;
  margin-right: 20px;
}

.about-header div:last-child {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.image-container {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #3498db;
}

.about-content {
  font-size: 16px;
  line-height: 1.6;
  color: white;
  margin-bottom: 30px;
  width: 60%;
  text-align: justify;
}

/* Media Queries for Responsiveness */

/* Tablet */
@media screen and (max-width: 992px) {
  .about-content {
    width: 80%;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .about-content {
    width: 90%;
    text-align: justify;
  }

  .about-header div:first-child {
    font-size: 26px;
  }

  .about-header div:last-child {
    font-size: 18px;
  }

  .about-image {
    width: 150px;
    height: 150px;
  }

  .image-container {
    margin: 30px;
  }
}
