* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.copyright-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  bottom: 0;
  width: 100%;
}
